# ASSIGNMENT 3 - Hypothesis Testing

In [118]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

# Question 1

In [119]:
''' Question 1: A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet 
between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and 
draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity 
of the assumptions.

'''

' Question 1: A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet \nbetween two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and \ndraw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity \nof the assumptions.\n\n'

In [120]:
ct=pd.read_csv(r'Desktop/Cutlets.csv')

In [121]:
ct

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [122]:
# Null Hypothesis H0: No significant difference in diameter of cutlets two units 
# Alternative Hypothesis H1: Significant difference in the diameter of cutlets of two units

In [123]:
unit_A=pd.Series(ct['Unit A'])
unit_B=pd.Series(ct['Unit B'])

In [124]:
Result=stats.ttest_ind(unit_A,unit_B,alternative='two-sided')
Result

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [125]:
print("The probability of Null hypothesis to be accepted is",round(Result[1]*100,2),'%')

The probability of Null hypothesis to be accepted is 47.22 %

In [126]:
if (Result[1]>0.05):     #Significance level is 5%
    print("Null hypothesis is accepted i.e. No significant difference in diameter")
else:
    print("Null hypothesis is rejected i.e. There is significant difference in diameter")

Null hypothesis is accepted i.e. No significant difference in diameter

# Question 2

In [127]:
''''A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports 
of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories.
TAT is defined as sample collected to report dispatch. Analyze the data and determine whether there is any difference 
in average TAT among the different laboratories at 5% significance level.'''

"'A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports \nof the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories.\nTAT is defined as sample collected to report dispatch. Analyze the data and determine whether there is any difference \nin average TAT among the different laboratories at 5% significance level."

In [128]:
tat=pd.read_csv(r'Desktop/LabTAT.csv')

In [129]:
tat

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [130]:
# Null Hypothesis H0: No difference in the Turn Around Time of 4 laboratories 
# Alternative Hypothesis H1: Significant difference in the Turn Around Time of 4 laboratories

In [131]:
p_value=stats.f_oneway(tat.iloc[:,0],tat.iloc[:,1],tat.iloc[:,2],tat.iloc[:,3])
p_value

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [132]:
if (p_value[1]>0.05):           #Significance level is 5%
    print("There is no difference in the Turn Around time of 4 laboratories i.e. Null hypothesis is accepted")
else:
    print("There is difference in the Turn Around time of 4 laboratories i.e. Null hypothesis is rejected")

There is difference in the Turn Around time of 4 laboratories i.e. Null hypothesis is rejected

# Question 3

In [133]:
'''Question 3: Sales of products in four different regions is tabulated for males and females. 
Find if male-female buyer rations are similar across regions.'''

'Question 3: Sales of products in four different regions is tabulated for males and females. \nFind if male-female buyer rations are similar across regions.'

In [134]:
br=pd.read_csv(r'Desktop/BuyerRatio.csv')

In [135]:
br

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [136]:
# Null Hypothesis H0: Variables are independent i.e. no relation b/w two categorical variables
# Alternative Hypothesis H1: Variables are dependent i.e. There is a relation b/w two categorical variables

In [137]:
from scipy.stats import chi2_contingency
from scipy.stats import chi2

In [138]:
br1=[[50,142,131,70],[435,1523,1356,750]]

In [139]:
statistic_value3,p3,dof3,expected3=chi2_contingency(br1)

In [140]:
statistic_value3

1.595945538661058

In [141]:
p3

0.6603094907091882

In [142]:
dof3

3

In [143]:
expected3

array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]])

In [144]:
alpha = 0.05
prob=1-alpha
critical_value3 = chi2.ppf(prob, dof3)
print('Statistical value is', round(statistic_value3,3))
print('critical value is',round(critical_value3,3))
if abs(statistic_value3) < critical_value3:
    print('H0 is accepted, variables are unrelated and independent')
else:
    print('H0 is rejected, variables are related and dependent')

Statistical value is 1.596
critical value is 7.815
H0 is accepted, variables are unrelated and independent

# Question 4

In [145]:
'''TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer 
order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to 
check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager 
draw appropriate inferences'''

'TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer \norder forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to \ncheck whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager \ndraw appropriate inferences'

In [146]:
from scipy.stats import chi2_contingency
from scipy.stats import chi2

In [147]:
cust=pd.read_csv(r'Desktop/Customer.csv')

In [148]:
cust

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [149]:
# Null Hypothesis H0: Variables are independent i.e. no relation b/w two categorical variables
# Alternative Hypothesis H1: Variables are dependent i.e. There is a relation b/w two categorical variables

In [150]:
print(cust['Phillippines'].value_counts(),
cust['Indonesia'].value_counts(),
cust['Malta'].value_counts(),
cust['India'].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64 Error Free    267
Defective      33
Name: Indonesia, dtype: int64 Error Free    269
Defective      31
Name: Malta, dtype: int64 Error Free    280
Defective      20
Name: India, dtype: int64

In [151]:
cust_array=[[271,267,269,280],[29,33,31,20]]

In [152]:
statistic_value4,p4,dof4,expected4=chi2_contingency(cust_array)

In [153]:
statistic_value4

3.858960685820355

In [154]:
p4

0.2771020991233135

In [155]:
dof4

3

In [156]:
expected4

array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]])

In [157]:
alpha = 0.05
prob=1-alpha
critical_value4 = chi2.ppf(prob, dof4)
print('Statistical value is', round(statistic_value4,3))
print('critical value is',round(critical_value4,3))
if abs(statistic_value4) < critical_value4:
    print('H0 is accepted, variables are unrelated and independent')
else:
    print('H0 is rejected, variables are related and dependent')

Statistical value is 3.859
critical value is 7.815
H0 is accepted, variables are unrelated and independent